<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/public/stylesheets/style.css">
	<script src="/public/js/jquery.js" type="text/javascript"></script>
	<script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
	<title><%= titulo %></title>
</head>
<body>
	<% if(messages.success) { %>
	<div class="alert alert-success alert-dismissible text-center" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Sucesso!</strong> <%- messages.success %>
	</div>
	<% } %>

	<% if(messages.error) { %>
		<div class="alert alert-danger alert-dismissible text-center" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Erro!</strong> <%- messages.error %>
		</div>
	<% } %>

	<div class="container">
		<div class="page-header">
			<h1><%= titulo %></h1>
		</div>
		<div class="row">			
			<div class="col-md-6">
				<form action="filmes/add" class="form-horizontal" method="POST">
					<fieldset>			
						<legend>Cadastrar filmes</legend>
						<div class="form-group">
							<label for="nomeFilme" class="col-sm-3 control-label">Nome do filme</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nomeFilme" name="filme[nome]" required="">
							</div>
						</div>

						<div class="form-group">
							<label for="anoFilme" class="col-sm-3 control-label">Ano de lançamento</label>
							<div class="col-sm-9">
								<input type="number" min="0" class="form-control" id="anoFilme" name="filme[ano]" required="">
							</div>
						</div>

						<div class="form-group">
							<label for="generoFilme" class="col-sm-3 control-label">Gênero</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="generoFilme" name="filme[genero]" required="" >
							</div>
						</div>
						<div class="form-group">
							<label for="duracaoFilme" class="col-sm-3 control-label">Duração</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="duracaoFilme" name="filme[duracao]" required="">
							</div>
						</div>
						<div class="form-group">
							<label for="classificacaoFilme" class="col-sm-3 control-label">Classificação</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="classificacaoFilme" name="filme[classificacao]" required="">
							</div>
						</div>
						<div class="form-group">							
							<label for="filmesAtor" class="col-sm-3 control-label">Ator</label>
							<div class="col-sm-9">
								<select class="form-control" multiple name="filme[ator]" id="filmesAtor" required="">
									<% atores.forEach(function(ator) { %>
										<option value="<%= ator.id %>"><%= ator.nome %></option>
									<% }); %>								
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-primary">Salvar</button>
							</div>
						</div>
					</fieldset>	
				</form>
			</div>

			<div class="col-md-6">
				<form action="atores/add" class="form-horizontal" method="POST">
					<fieldset>			
						<legend>Cadastrar ator</legend>
						<div class="form-group">
							<label for="nomeAtor" class="col-sm-3 control-label">Nome do ator</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nomeAtor" name="ator[nome]" required="">
							</div>
						</div>

						<div class="form-group">
							<label for="idadeAtor" class="col-sm-3 control-label">Idade do ator</label>
							<div class="col-sm-9">
								<input type="number" min="0" class="form-control" id="idadeAtor" name="ator[idade]" required="">
							</div>
						</div>
						<div class="form-group">							
							<label for="filmesAtuados" class="col-sm-3 control-label">Participações</label>
							<div class="col-sm-9">
								<select multiple class="form-control" name="ator[filmes]" id="filmesAtuados">
									<% filmes.forEach(function(filme) { %>
										<option value="<%= filme.id %>"><%= filme.nome %></option>
									<% }); %>								
								</select>
							</div>
						</div>						
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-primary">Salvar</button>
							</div>
						</div>
					</fieldset>	
				</form>
			</div>
			

			<div class="col-md-12">
				<h2>Filmes</h2>
				<div class="row">
					<% filmes.forEach(function(filme) { %>
						<div class="col-md-4">
							<div class="jumbotron card-filmes">
								<h3>
									<%= filme.nome %>
								</h3>							
								<li><%= filme.ano %></li>
								<li><%= filme.genero %></li>
								<li><%= filme.duracao %></li>
								<li><%= filme.classificacao %></li>
								<br>
								<b>Atores</b>
								<% filme.atores.forEach(function(ator) { %>
									<li><%= ator.nome %></li>
								<% }); %>
								<hr>
								<div>
									<a href="/filmes/editar/<%=filme.id%>" class="btn btn-primary">Editar</a>
									<a href="/filmes/delete/<%=filme.id%>" class="btn btn-danger">Deletar</a>
								</div>												
							</div>
						</div>
					<% }); %>

				</div>

			</div>

		</div>
	</div>
	
	
</body>
</html>